@import "../../style/scss-variables";

.hero {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;

  .__container {
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    /* margin-top: 2rem; */
    /* background-color: rgb(243, 9, 188); */
    position: absolute;
    align-content: flex-end;
    /* align-items: flex-end; */
    /* position: relative; */
    border: 4px solid yellow;

    .__img {
      background-image: linear-gradient(
          rgba(1, 7, 28, 0.5),
          hsla(209, 89%, 46%, 0.577)
        ),
        url("../../assets/images/implants.jpeg");
      filter: invert(87%) sepia(33%) saturate(274%) hue-rotate(178deg)
        brightness(41%) contrast(100%);
      width: 100%;
      height: 100%;
      background-position: 0 7%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .__bloc_txt {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      //border: 4px solid rgb(247, 0, 255);
      align-content: center;
      .__title {
        h1 {
          color: #f7f8fc;
        }
      }
      .__subtitle {
        h2,
        h3 {
          color: #f7f8fc;
        }
      }
      .__text {
        p,
        a {
          color: #f7f8fc;
        }
      }
    }

    .__button_box {
      display: flex;
      width: 100%;
      height: 50%;
      position: absolute;
      align-content: flex-end;
      /* justify-content: flex-end; */
      bottom: 0;
      align-items: center;
    }
  }
}
