.section {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 22px;
  border: 2px solid pink;
  justify-content: center;
}

.image {
  display: flex;
  width: 65%;
  height: auto;
  align-self: center;
  border-radius: 22px;
  border: 2px solid blueviolet;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideIn {
  animation: scrollIn 1s forwards;
}
