@import "../../style/scss-variables";

.sections {
  width: auto;
  display: flex;
  overflow: hidden;
  min-height: 85vh;
  background-color: $color-bg;
  padding: 4rem;
}
//////////////////RESPONSIVE//////////////////////
@media only screen and (max-width: 1600px) {
  .sections {
    padding: 3rem;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .sections {
    padding: 2rem;
    height: auto;
  }
}
