@import "../../style/scss-variables";

.header {
  display: flex;
  width: 100vw;
  height: 90vh;
  position: relative;
}

.sections_container {
  width: 100%;
  height: 100%;
  display: flex;
  border: 4px solid rgb(242, 8, 199);
  justify-content: center;

  .sections {
    width: 80vw;
    display: flex;
    overflow: hidden;
    min-height: 80vh;
    background-color: #fff;
    padding: 4rem;
    position: relative;
    border: 4px solid rgb(242, 8, 8);
  }
}

//////////////////RESPONSIVE//////////////////////
@media only screen and (max-width: 1600px) {
  .sections {
    padding: 4rem;
    height: auto;
    border: 4px solid green;
  }
}

@media only screen and (max-width: 768px) {
  .sections {
    padding: 2rem;
    height: auto;
  }
}
