@import "../../style/scss-variables";

.__link {
  display: flex;
  align-items: center;
  width: 12%;
  border-radius: 9px;
  height: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  box-shadow: 1px 1px 2px $clear-gray, -1px -1px 2px #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 16px;
  background-color: transparent;
  opacity: 2;
  appearance: none;
  -webkit-appearance: none;

  &:hover {
    box-shadow: inset 1px 1px 2px $clear-gray, inset -1px -1px 2px #fff;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $clear-gray, inset -1px -1px 2px #fff;
  }

  a {
    font-size: 14px;
    width: 100%;
    font-weight: bolder;
    position: sticky;
    z-index: 11;

    &:hover {
      opacity: 1;
      transition: opacity 0.2s ease-out;
      -webkit-transition: opacity 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out;
      -o-transition: opacity 0.2s ease-out;
      color: #000080;
    }
  }
}

.__link_mobile {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;

  a {
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    font-weight: bolder;
    position: relative;
    z-index: 11;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s ease-out;
      color: #000080;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//////////////////RESPONSIVE//////////////////////
@media only screen and (min-width: 400px) {
  .__link_mobile {
    a {
      font-size: 18px;
    }
  }
}
