// color
$btn-color: #e2dada;
$ruler: 16px;
$color-bg: #ebecf0;
$color-shadow-dark: #2c2c2f;
$color-clear-dark: #343437;
$bg-linear-gradt: linear-gradient(
  90deg,
  rgb(239 240 243) 0%,
  rgb(228, 228, 237) 0%,
  rgb(203 203 211 / 96%) 50%,
  rgb(232, 233, 241) 100%
);
$gray-color: #4c4c51;
$clear-gray: #babecc;
$regular-gray: #61677c;
$mouth-gray: #e1e3ec;
//
$ruler: 16px;
// background: linear-gradient(90deg, rgb(239 240 243) 0%, rgb(228, 228, 237) 0%, rgb(203 203 211 / 96%) 50%, rgb(232, 233, 241) 100%);
