@import "./style/fonts.scss";
@import "./style/scss-variables";

body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1;
  font-family: "Baumans", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: $color-clear-dark;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #5e5f64;
  cursor: pointer;
}

h1 {
  font-size: 31px;
  color: $color-clear-dark;
}

h2 {
  line-height: 30px;
  white-space: pre-wrap;
  font-size: 24px;
  color: $color-clear-dark;
}

h3 {
  color: $color-clear-dark;
}

p {
  line-height: 25px;
  white-space: pre-wrap;
  font-size: 16px;
  color: $regular-gray;
}
