@import "../../style/scss-variables";

.section {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 22px;
  justify-content: center;
}

.image {
  display: flex;
  width: auto;
  height: auto;
  align-self: center;
  border: 2px solid $gray-color;
  border-radius: 33px;
  opacity: 0;
  transform: translateY(40px);
  img {
    width: 35rem;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
  }
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideIn {
  animation: scrollIn 2s forwards;
}
