@import "../../style/scss-variables";

.imgbox {
  display: flex;
  width: 100%;
  height: 100%;
  //border-radius: 22px;
  justify-content: center;
  //border: 4px solid violet;
}

.image {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  border: 2px solid red;
  //opacity: 0;
  //transform: translateX(70px);

  img {
    display: block;
    width: 40rem;
    height: 34rem;
    //border-radius: 30px;
    object-fit: cover;
    //object-fit: contain;
  }
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideIn {
  animation: scrollIn 2s forwards;
}
