@import "../../style/scss-variables";
.section {
  display: flex;
  width: 100%;
  height: auto;

  // &.cabinet {
  //   background-color: aquamarine;
  // }

  // &.esthetique {
  //   background-color: rgb(21, 10, 237);
  // }

  .__container {
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;

    .__section_content {
      width: 100%;
      height: 100%;
      display: flex;
      border: 3px solid red;
      justify-content: center;

      .box {
        width: 100%;
        height: 100%;
        display: flex;
        border: 4px solid blue;

        &.__text {
          position: relative;
          white-space: pre-wrap;
          // border: 4px solid blue;

          &.__regular_text {
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-self: center;
            display: flex;
            text-align: start;
            padding: 2rem;
            line-height: 1.5;
            justify-content: center;

            &.__subtext {
              font-size: 18px;
              white-space: pre-wrap;
              color: $color-clear-dark;
            }
          }

          .__bloc_txt_mobile {
            width: 100%;
            height: auto;
            display: none;
            flex-direction: column;

            &.__text_mobile {
              flex-direction: column;
              width: auto;
              text-align: start;
              align-self: center;
              justify-content: center;
              display: none;
              padding: 20px 0;
              width: 100%;
              line-height: 29px;
            }
          }
        }
      }
      // &.__text {
      //   position: relative;
      //   white-space: pre-wrap;
      //   border: 4px solid blue;

      //   .__regular_text {
      //     flex-direction: column;
      //     width: 100%;
      //     height: 100%;
      //     align-self: center;
      //     display: flex;
      //     text-align: start;
      //     padding: 2rem;
      //     line-height: 1.5;
      //     justify-content: center;

      //     .__subtext {
      //       font-size: 18px;
      //       white-space: pre-wrap;
      //       color: $color-clear-dark;
      //     }
      //   }

      //   .__bloc_txt_mobile {
      //     width: 100%;
      //     height: auto;
      //     display: none;
      //     flex-direction: column;

      //     .__text_mobile {
      //       flex-direction: column;
      //       width: auto;
      //       text-align: start;
      //       align-self: center;
      //       justify-content: center;
      //       display: none;
      //       padding: 20px 0;
      //       width: 100%;
      //       line-height: 29px;
      //     }
      //   }
      // }
    }
  }
}
