@import "../../style/scss-variables";
.section {
  display: flex;
  width: 100%;
  height: 70%;
  border: 4px solid blue;
  padding: 2rem;

  .section__container {
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .section__text {
      flex-direction: column;
      width: auto;
      height: auto;
      align-self: center;
      display: flex;
      //text-align: start;
      //padding: 2rem;
      //line-height: 1.5;
      justify-content: center;
      //text-align: center;
      border: 5px solid yellow;
      padding: 2rem;

      .section__regular_text {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-self: center;
        display: flex;
        text-align: start;
        //padding: 2rem;
        // line-height: 1.5;
        justify-content: center;
        h2 {
          color: rgb(62, 62, 65);
          font-size: 2rem;
        }
        p {
          line-height: 1.5;
          color: rgb(76 78 82);
          text-align: left;
          font-size: 0.8rem;
        }

        .section__subtext {
          border: 4px solid rgb(19, 231, 12);
          width: 100%;
          height: auto;
        }
      }

      .section__bloc_txt_mobile {
        width: 100%;
        height: auto;
        display: none;
        flex-direction: column;

        &.section__text_mobile {
          flex-direction: column;
          width: auto;
          text-align: start;
          align-self: center;
          justify-content: center;
          display: none;
          padding: 20px 0;
          width: 100%;
          line-height: 29px;
        }
      }
    }
  }
}
